body {
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #333;
    background: #c7eef3d7;
}

fieldset {
    padding: 10px;
    margin: 20px 0;
    
}

fieldset:hover {
    box-shadow: 0 0 20px #444;
}

label {
  margin-right:50px;
 }

.fieldset-1 {
    background: rgba(168,197,36,0.6);
}

.fieldset-1 label {
color: #fff;
width: 200px;
display: inline-block;
padding: 10px 0 15px 40px;
}

.fieldset-1 input {
    width: 300px;
    height: 20px;
}

.fieldset-2 {
background: rgba(36,168,197,0.6);
}

.fieldset-2 label{
    color: white;
    width: 100px;
    display: inline-block;
    padding: 5px 0 15px 10px;
}

.fieldset-2 input{
    width: 10px;
    height: 20px;
}

.fieldset-3{
    background: rgba(230,86,235,0.6);
}

.fieldset-3 label {
    color: white;
    width: 100px;
    display: inline-block;
    padding: 10px 0 10px 40px;
}

.fieldset-3 input{
    width: 300px;
    height: 20px;
}


legend {
    color: cyan;
    font-size: 18px;
    padding: 5px;
    font-weight: 900;
    background: white;
    text-transform: uppercase;
}

input[type=checkbox], input[type=radio]{
    width: 30px;
}

input[type=text]:focus, input[type=email]:focus, input[type=tel]:focus, input[type=password]:focus, input[type=date]:focus
 {
    border: 5px solid red;
}

input[type=submit] {
    width: 20%;
    color:white;
    background: #fe6921;
    font-size: 16px;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
    text-transform: uppercase;
}

input[type=submit]:hover
 {
    background: maroon
}