body{
    text-align: center;
}

header {
 background: yellow;
 height: 80px;
     }

nav {
    background: cadetblue;
    height: 60px;
}

section {
    width: 100%;
    height: 700px;
    background: cornflowerblue;
}

#rose
{
    background: purple;
    width: 20%;
    height: 700px;
    float: right;
}

footer {
    background: yellow;
    height: 60px;
}

