*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    width: 70%;
    margin: auto;
}

thead{
    background: beige;
    border: 4px solid lightblue;
}

tbody{
    border: 2px solid lightblue;
}

th{
    width: 20%;
    padding: 14px;
    background: lightblue;
    border: 2px dashed lightblue;
    }

td{
    padding: 4px;
    font-size: 150%;
    text-align: right;
    border: 4px solid lightblue;
}
td:first-child{
    text-align: left;
}